/* Header Styles */
header {
    background-image: url("../image/bg-main.jpg");
    background-position: center;
    // background-repeat: no-repeat;
    position: relative;
   
}

nav {
    padding: 0 10px;
}

.header-top {
    background-color: $header-bg-clr;
    padding-bottom: 10px;
}

.forkio-logo {
    display: flex;
    align-items: center;
}

.forkio {
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    color: $btn-text-color;
    margin-left: 17px;
    display: none;
}

.nav-part-1 {
    display: flex;
    justify-content: space-between;
    // display: grid;
    // grid-template-columns: 50px 1fr 30px;
    // grid-template-rows: 1fr;
    // grid-template-areas:
    //     "item1 item2 item3";
    gap: 10px;
    padding-top: 34px;

}

.nav-part-2 {
    display: none;
    // position: absolute;
}
.header-ul{
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
}
.header-link{
    padding: 20px 0;
    position: relative;
    // top: 50px;
    color: white;
}
.header-link:hover{
    color: $white-clr;
    // border: 1px solid #8D81AC;
}
.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.btn-buy-now {
    background-color: $btn-text-color;
    border-radius: 40px;
    border: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    color: $white-clr;
    max-width: 119px;
    // margin: 0 auto;
    padding: 11px 20px;
}

.header-description {
    margin-top: 32px;
    padding-top: 50px;
}

#hamburger {
    @include flex-column;
    text-align: right;
    cursor: pointer;
}

.burger-lines {
    background-color: $white-clr;
    width: 26px;
    height: 3px;
    margin-top: 6px;
    border-radius: 5px;
}

.small-line {
    width: 15px;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: $white-clr;
    margin-bottom: 19px;
}

.header-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: $btn-text-color;
    margin-bottom: 14px;
}

.header-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: $secondary-txt-clr;
    padding-bottom: 416px;
}
.download-now-btn {
    background-color: $btn-text-color;
    border: none;
    border-radius: 40px;
    padding: 13px 29px;
    position:absolute;
    bottom: -18px;
    left: calc(50% - 115px);
    color: $white-clr;
}

@media (min-width:480px) {
    #hamburger {
        display: none;
    }
    .nav-part-2{
        display: flex;
        justify-content: center;
        position: static;
    }
    .forkio {
        display: flex;
    }
    .header-ul {
        display: flex;
        text-align: center;
    }
    .nav-part-1 {
        // grid-template-columns: 160px 1fr 150px;
        // grid-template-rows: 1fr 1fr;
        // grid-template-areas:
        //     "item1 . item2"
        //     "item3 item3 item3";

        // row-gap: 25px;
        padding-top: 34px;
    }
    .btn-buy-now {
      align-self: flex-end;
    }
    .header-link {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: $btn-text-color;
        margin-right: 10px;
        padding: 8px;
        text-decoration: none;
        position: static;
    }
    

}

@media (min-width:768px) {

    .header-top {
        background: none;
        
    }
    .nav-part-2{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: static;
    }
    .btn-buy-now {
        max-width: 145px;
        padding: 11px 30px;
    }
    .header-link {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: $btn-text-color;
        margin-right: 30px;
        padding: 0;
        position: static;
    }

    h1 {
        font-size: 72px;
        line-height: 72px;
    }

    .header-title {
        font-size: 24px;
        line-height: 24px;
    }

    .header-subtitle {
        font-size: 14px;
        line-height: 14px;
        padding-bottom: 469px;
    }
    .forkio:hover{
        color: $white-clr;
    }
    .header-link:hover{
        color: $white-clr;
        // border: 1px solid #8D81AC;
    }
    .btn-buy-now:hover, .download-now-btn:hover{
        color: $btn-text-color;
        background-color: $white-clr;
        border: 1px solid #8D81AC
    }
}